services:
  mongodb:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo:/data/db

  web:
    build: .
    container_name: app
    command: python -m uvicorn spectrumdata_test.framework.app:app
    ports:
      - "8080:8080"
    env_file:
      - .env.dev

volumes:
  mongo:
